<section class="products">
  <div class="container">
    <form @submit.prevent="add_product" class="product_form clearfix">
      <div class="form-group">
        <label for="product_title">Product title</label>
        <input type="text" class="form-control" v-model="product.name" required id="product_title" placeholder="Enter your product title">
      </div>
      <div class="form-group">
        <label for="product_price">Product price</label>
        <input type="text" class="form-control" v-model="product.price" required id="product_price" placeholder="Enter your product price">
      </div>
      <div class="form-group">
        <label for="product_image">Product image</label>
        <input type="file" class="form-control-file" id="product_image">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table product_table">
      <tr v-for="product in products">
        <td>{{ product.data().name }}</td>
        <td>$ {{ product.data().price }}</td>
        <td>
          <button @click="deleteProduct(product.id)" class="btn btn-warning md-raised">Delete</button>
          <button @click="editProduct(product)" class="btn btn-info md-raised">Edit</button>
        </td>
      </tr>
    </table>
  </div>

  <md-dialog :md-active.sync="isShowEditDialog">
      <form @submit.prevent="add_product" class="product_form clearfix">
        <div class="form-group">
          <label for="product_title">Product title</label>
          <input type="text" class="form-control" v-model="product.name" required id="product_title" placeholder="Enter your product title">
        </div>
        <div class="form-group">
          <label for="product_price">Product price</label>
          <input type="text" class="form-control" v-model="product.price" required id="product_price" placeholder="Enter your product price">
        </div>
        <div class="form-group">
          <md-field>
            <label>Images</label>
            <md-file v-model="productImages" multiple />
          </md-field>
        </div>
      </form>
      <md-dialog-actions>
      <md-button class="md-primary btn-warning" @click="isShowEditDialog = false">Close</md-button>
      <md-button class="md-primary" @click="updateProduct()">Update</md-button>
    </md-dialog-actions>
  </md-dialog>
</section>


