.products {
  .product_form {
    margin-bottom: 30px;
    .btn {
      float: right;
    }
  }
  .product_table {
    .btn:not(:last-of-type) {
      margin-right: 10px;
    }
    td:last-of-type {
      width: 161px;
    }
    .product_image {
      max-width: 120px;
    }
  }
}

.md-dialog {
  .product_form {
    padding: 20px;
  }
}