.products {
  .product_form {
    margin-bottom: 30px;
    .btn {
      float: right;
    }
  }
  .product_table {
    .btn {
      margin-right: 10px;
    }
  }
}

.md-dialog {
  .product_form {
    padding: 20px;
  }
}